RewriteEngine On

# Nếu truy cập file hoặc thư mục thật thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển tất cả truy vấn sang index.php?page=ten-trang
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
